<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-security-policy" content="block-all-mixed-content" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abel|Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="~/css/~site.css" />
    <language is="Farsi" value="@ViewData["language"]">
        <link rel="stylesheet" href="~/css/~site.farsi.css" />
    </language>
    <link rel="icon" type="image/png" href="~/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/images/favicons/favicon-16x16.png" sizes="16x16">

    @RenderSection("Styles", false)
    <title>Ali Doustkani</title>
</head>

<body>
    <header class="siteHeader">
        <nav>
            <ul class="flat-list">
                <li><a asp-controller="Home" asp-action="Index">BLOG</a></li>
                <li><div class="separator"></div></li>
                <li><a asp-route="lang" asp-route-language="fa">Farsi Posts</a></li>
                <li><div class="separator"></div></li>
                <li>
                    <a asp-controller="Home" asp-action="About">ABOUT ME</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><div class="separator"></div></li>
                    <li>
                        <form asp-controller="Account" asp-action="Logout" class="logoutForm"><button type="submit">Logout</button></form>
                    </li>
                    <li><div class="separator"></div></li>
                    <li>
                        <a asp-controller="Administrator" asp-action="Index">Posts</a>
                    </li>
                    <li><div class="separator"></div></li>
                    <li>
                        <a asp-controller="Administrator" asp-action="Post">New Post</a>
                    </li>
                }
            </ul>
            <ul class="flat-list">
                <li>
                    <a href="https://github.com/Ali-Doustkani" class="github">
                        <i class="fab fa-github-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ali-doustkani/" class="linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </nav>
        @{
            var controller = ViewContext.RouteData.Values["controller"].ToString();
            var noHeaders = new[] { "Administrator", "Account" };
        }
        @if (!noHeaders.Contains(controller))
        {
            <img src="~/images/me.png" />
            <h5>Hi, welcome to my blog!</h5>
            <a asp-action="About">
                <h1>&lt;Ali Doustkani/&gt;</h1>
            </a>
        }
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>© Copyright @DateTime.Now.Year Ali Doustkani</p>
    </footer>
    @RenderSection("Scripts", false)
</body>

</html>