@model IEnumerable<Post>

@section Styles{
    <link rel="stylesheet" href="~/libs/tingle.js/tingle.min.css" />
}

@section Scripts{
    <script src="~/libs/tingle.js/tingle.min.js"></script>
    <script src="~/js/admin.js"></script>
}

<form id="deleteForm" method="post"></form>
<div class="postForm">
    <h2>Posts</h2>
    <table border="0">
        <thead>
            <tr>
                <th>Id</th>
                <th></th> @*Show*@
                <th>Title</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.Id</td>
                    @if (post.Show)
                    {
                        <td><i class="fas fa-check"></i></td>
                    }
                    else
                    {
                        <td><i class="fas fa-times"></i></td>
                    }
                    <td>@post.Title</td>
                    <td>@post.Summary</td>
                    <td>
                        <a asp-action="ViewPost" asp-route-id="@post.Id" class="cell-btn">Edit</a>
                        <a href="#" id="delete" class="cell-btn" data-id="@post.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>