@model DeveloperViewModel
@{
   ViewData["Title"] = "About Me";
}
<article class="resume-section">@Html.Raw(Model.Summary)</article>
<article class="resume-section">
   <h1>work experience</h1>
   @foreach (var experience in Model.Experiences)
   {
      <section>
         <h2>@experience.Position, @experience.Company <span class="date">@experience.StartDate.ToString("MMMM/yyyy") - @experience.EndDate.ToString("MMMM/yyyy")</span></h2>
         @Html.Raw(experience.Content)
      </section>
   }
</article>
<article class="resume-section">
   <h1>side projects</h1>
   @foreach (var proj in Model.SideProjects)
   {
      <section>
         <h2>@proj.Title</h2>
         @Html.Raw(proj.Content)
      </section>
   }
</article>
<article class="resume-section">
   <h1>education</h1>
   @foreach (var edu in Model.Educations)
   {
      <section>
         <header>
            <h2 class="item-title">@edu.Degree <span class="date">@edu.StartDate.Year - @edu.EndDate.Year</span></h2>
         </header>
         <p>@edu.University</p>
      </section>
   }
</article>
<article class="resume-section">
   <h1>technical skills</h1>
   @foreach (var line in Model.Skills)
   {
      <p>@line</p>
   }
</article>
<article class="resume-section">
   <a class="download-resume" href="/files/AliDoustkani.pdf">
      <i class="fas fa-file-pdf"></i>
      Download Resume
   </a>
</article>