@model DeveloperViewModel
@{
   ViewData["Title"] = "About Me";
}
<article class="resume-section">@Html.Raw(Model.Summary)</article>
<article class="resume-section">
   <h1>work experience</h1>
   @foreach (var experience in Model.Experiences)
   {
      <section>
         <h2>@experience.Position, @experience.Company <span class="date">@experience.StartDate.ToString("MMMM/yyyy") - @experience.EndDate.ToString("MMMM/yyyy")</span></h2>
         @Html.Raw(experience.Content)
      </section>
   }
</article>
<article class="resume-section">
   <h1>side projects</h1>
   @foreach (var proj in Model.SideProjects)
   {
      <section>
         <h2>@proj.Title</h2>
         @Html.Raw(proj.Content)
      </section>
   }
</article>
<article class="resume-section">
   <h1>education</h1>
   <section>
      <header>
         <h2 class="item-title">B.Sc. in Computer Software Engineering <span class="date">2010 - 2013</span></h2>
      </header>
      <p>
         University of Science and Culture
      </p>
   </section>
   <section>
      <header>
         <h2 class="item-title">A.Sc in Computer Software Engineering <span class="date">2008 - 2010</span></h2>
      </header>
      <p>
         Shamsipour Technical College
      </p>
   </section>
</article>
<article class="resume-section">
   <h1>technical skills</h1>
   @foreach (var line in Model.Skills)
   {
      <p>@line</p>
   }
</article>
<article class="resume-section">
   <a class="download-resume" href="/files/AliDoustkani.pdf">
      <i class="fas fa-file-pdf"></i>
      Download Resume
   </a>
</article>