@model IEnumerable<Post>;
@{ 
    ViewData["Title"] = "Ali Doustkani";
}

@foreach (var post in Model)
{
    <article class="article">
        <header>
            <h2><a asp-action="Post" asp-route-urlTitle="@post.UrlTitle">@post.Title</a></h2>
            <h4 class="date">
                <language value="@ViewData["language"]" is="English">
                    @post.PublishDate.ToString("MMM yyyy")
                </language>
                <language value="@ViewData["language"]" is="Farsi">
                    @post.GetShortPersianDate()
                </language>
            </h4>
        </header>
        <p>@post.Summary</p>
        <div class="tagset">
            <i class="fas fa-hashtag"></i>
            @foreach (var tag in post.TagCollection)
            {
                <div>@tag</div>
            }
        </div>
    </article>
}

