@using Microsoft.AspNetCore.Http.Extensions
@model Post
@{
    ViewData["Title"] = Model.Title;
    ViewData["HasHeader"] = false;
}

<article class="post">
    <header>
        <h1>@Model.Title</h1>
        <h3>
            <language value="@ViewData["language"]" is="English">
                @Model.PublishDate.ToString("D")
            </language>
            <language value="@ViewData["language"]" is="Farsi">
                @Blog.Extensions.GetLongPersianDate(Model.PublishDate)
            </language>
        </h3>
        <div class="tagset">
            <i class="fas fa-hashtag"></i>
            @foreach (var tag in Model.TagCollection)
            {
                <div>@tag</div>
            }
        </div>
    </header>
    @Html.Raw(Model.Content)
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = @Html.Raw($"'{Context.Request.GetEncodedUrl()}'");
            this.page.identifier = @Html.Raw($"'{Model.Title}'");
        };
        (function () {
            var d = document, s = d.createElement('script');
            s.src = 'https://alidoustkani.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>
