@using Microsoft.AspNetCore.Http.Extensions
@model PostViewModel
@{
   ViewData["Title"] = Model.Title;
   ViewData["HasHeader"] = false;
}

<article blog-testid="article-container" class="post" blog-bilingual="true">
   <header>
      <h1 blog-testid="title-value">@Model.Title</h1>
      <h2 blog-testid="date-value">@Model.Date</h2>
      <div class="tagset">
         <i class="fas fa-hashtag"></i>
         @foreach (var tag in Model.Tags)
         {
            <div blog-testid="tag-value">@tag</div>
         }
      </div>
   </header>
   @Html.Raw(Model.Content)
   <environment include="Production">
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
            this.page.url = @Html.Raw($"'{Context.Request.GetEncodedUrl()}'");
            this.page.identifier = @Html.Raw($"'{Model.Title}'");
        };
        (function () {
            var d = document, s = d.createElement('script');
            s.src = 'https://alidoustkani.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
   </environment>
</article>
