@{
    Layout = "_Layout";
}
@model IEnumerable<Blog.Model.Post>;

@foreach (var post in Model)
{
    <article class="article">
        <header>
            <h2><a asp-action="Post" asp-route-id="@post.Id">@post.Title</a></h2>
            <h4 class="date">@post.PublishDate.ToString("MMM yyyy")</h4>
        </header>
        <p>@post.Summary</p>
        <div class="tagset">
            <i class="fas fa-hashtag"></i>
            @foreach (var tag in post.TagCollection)
            {
                <div>@tag</div>
            }
        </div>
    </article>
}